<h1> <%= @pet.name %> </h1>

<p>was found <%= (Date.today - @pet.found_on).to_i  %> days ago</p>

<%= link_to "back", pets_path %>
<%= link_to "edit", edit_pet_path(@pet) %>
<%= link_to "delete", pet_path(@pet), method: :delete, data: { confirm: "are you sure?"} %>
